@model BugTracker.Models.Projects
@{
    ViewBag.Title = "EditProject";
}

<section>
    <div class="container">
        <div class="dashboard-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h2>Edit Project</h2>
                    @using (Html.BeginForm("EditProject", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" name="Name" class="form-control" value="@Model.Name"/>
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>

</section>