@model IEnumerable<BugTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "SelectUser";
}

<h2>SelectUser</h2>

<ul>
    @foreach (var user in Model)
    {
        <li>@Html.DisplayFor(model => user.DisplayName)</li>
    }
</ul>

