<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AdminUser" value="allan.clark00@gmail.com" />
  <add key="AdminPassword" value="Gvegas1!" />
  <add key="PMUser" value="pmtest@test.com"/>
  <add key="PMPassword" value="password1"/>
  <add key="DevUser" value="devtest@test.com"/>
  <add key="DevPassword" value="password1"/>
  <add key="SubUser" value="subtest@test.com"/>
  <add key="SubPassword" value="password1"/>
  <add key="SendGridUserName" value="azure_d892ea43f0c9db746a83c4644e07b724@azure.com"/>
  <add key="SendGridPassword" value="n7kpQN8PuEUN8wH"/>
  <add key="ContactEmail" value="allan.clark00@gmail.com"/>
</appSettings>